@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Z Bank</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Your Account Balance</h5>
                <h6 class="card-subtitle mb-2 text-muted">$@Model.AccountBalance.ToString("0.00")</h6>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login to check details and perform Actions</h5>
                <h6 class="card-subtitle mb-2 text-muted"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></h6>
            </div>
        </div>
    }


</div>
